{
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
