.subscription-form {
  min-width: 100%;
}

.subscription-form .ant-input-number {
  width: 100%;
}

.form-configurator {
  display: flex;
}

.form-configurator .form-params-wrapper {
  width: 50%;
  padding: 10px;
}

.form-configurator .form-preview-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}